* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/*-----------01-color-switcher-------------*/

.btncontainer{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnitem{
  margin:10px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #48ff00;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-align: center;
}
.btnitem:before {
  content: '';
  background: linear-gradient(30deg, #ff0000, #fffb00, #48ff00, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 100%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  opacity: 0;
  border-radius: 10px;
}

.btnitem:active {
  color: #000
}
.btnitem:disabled{
  color: darkslategrey;
  
}
.btnitem:active:after {
  background: transparent;
}

.btnitem:hover:before {
  opacity: 1;
}

.btnitem:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*--------------------02-timer---------------------*/

.calendarcontainer{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

/*--------------------03-promisses---------------------*/

.form{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}